.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;

}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 10px;
}

.button {
  background-color: crimson;
  color: #fff;
  margin-top: 10px;
  padding: 20px 80px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.VideoWrapper {
  position: relative;
  width: 640px;
  height: 480px;
}

.VideoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.VideoWrapper iframe {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}